In [1]:
import pandas as pd

In [19]:
sp_songs = pd.read_csv('song_sp.csv')
en_songs = pd.read_csv('song.csv')
cross = pd.read_csv('cross_ref_no_none.csv')
sp_songs

     songNumber                                           songName
0             1                                   Ya rompe el alba
1             2                                El Espíritu de Dios
2             3                                     Ya regocijemos
3             4                                    Bandera de Sión
4             5                                  Oh Dios de Israel
..          ...                                                ...
204         205                          Sirvamos unidas (Mujeres)
205         206  Venid, los que tenéis de Dios el sacerdocio (H...
206         207                 Oh vos que sois llamados (Hombres)
207         208               Brillan rayos de clemencia (Hombres)
208         209                     Oh élderes de Israel (Hombres)

[209 rows x 2 columns]

In [21]:
with_cross = en_songs.merge(cross,how='left',left_on='songNumber',right_on='english_number')
with_cross

     songNumber                      songName  spanish_number  english_number
0             1            The Morning Breaks             1.0             1.0
1             2             The Spirit of God             2.0             2.0
2             3            Now Let Us Rejoice             3.0             3.0
3             4                 Truth Eternal             NaN             NaN
4             5      High on the Mountain Top             4.0             5.0
..          ...                           ...             ...             ...
363         337  O Home Beloved (Men’s Choir)             NaN             NaN
364         338         America the Beautiful             NaN             NaN
365         339      My Country, ’Tis of Thee             NaN             NaN
366         340      The Star-Spangled Banner             NaN             NaN
367         341             God Save the King             NaN             NaN

[368 rows x 4 columns]

In [24]:
with_sp_names = with_cross.merge(sp_songs,how='left',left_on='spanish_number',right_on='songNumber')
with_sp_names.to_csv('final.csv',index=False)